<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions réseau (FTP/HTTP) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Requis pour déclencher l'installation d'un .apk ouvert depuis PulseFile -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- Permissions stockage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>

    <application
        android:label="PulseFile"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="true">

        <!-- Activité principale -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <!-- Lanceur -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Ouverture depuis PulseIt ou d'autres apps -->
            <intent-filter>
                <action android:name="com.pulsefile.ACTION_OPEN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- Ouverture avec une connexion spécifique -->
            <intent-filter>
                <action android:name="com.pulsefile.ACTION_OPEN_FTP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.pulsefile.ACTION_OPEN_HTTP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- Réception de fichiers partagés -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>

            <!-- Sauvegarde depuis PulseIt (destination picking) -->
            <intent-filter>
                <action android:name="com.pulsefile.ACTION_SAVE_TO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- Sélecteur PulseFile dédié pour apps tierces (équivalent Android
                 de "pulsefile.exe pick-folder/pick-file" sous Windows) : à
                 lancer via startActivityForResult, le résultat est renvoyé
                 avec setResult() (voir MainActivity.kt). -->
            <intent-filter>
                <action android:name="com.pulsefile.ACTION_PICK_FOLDER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.pulsefile.ACTION_PICK_FILE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- DocumentsProvider SAF : expose FTP/HTTP dans le sélecteur Android -->
        <provider
            android:name=".PulseFileDocumentsProvider"
            android:authorities="com.pulsefile.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER"/>
            </intent-filter>
        </provider>

        <!-- FileProvider pour partage de fichiers locaux -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- Ne pas supprimer : requis par l'outil Flutter pour l'embedding v2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

    </application>
</manifest>
